<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css" />
    <title>gallery</title>
</head>
<body>
   
    <div class="photo"> 
        <h1>Photo Gallery</h1>
        <img src="images/paulMc.jpg" alt="paulMc1">
        <img src="images/Paul2.jpg" alt="paulMc2">
        <img src="images/Paul3.jpg" alt="paulMc3">
    </div>

</body>
</html>