<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css" />
    <title>works</title>
</head>
<body>
    <h1>Álbumes de estudio: solista y Wings</h1>

    <ul>
        <li>McCartney (1970)</li>
        <li>Ram (1971)</li>
        <li>Wild Life (1971) (Wings)</li>
        <li>Red Rose Speedway (1973) (Wings)</li>
        <li>Band on the Run (1973) (Wings)</li>
        <li>Venus and Mars (1975) (Wings)</li>
        <li>Wings at the Speed of Sound (1976) (Wings)</li>
        <li>London Town (1978) (Wings)</li>
        <li>Back to the Egg (1979) (Wings)</li>
        <li>McCartney II (1980)</li>
        <li>Tug of War (1982)</li>
        <li>Pipes of Peace (1983)</li>
        <li>Give My Regards to Broad Street (1984)</li>
        <li>Press to Play (1986)</li>
        <li>Снова в СССР (1988)</li>
        <li>Flowers in the Dirt (1989)</li>
        <li>Off the Ground (1993)</li>
        <li>Flaming Pie (1997)</li>
        <li>Run Devil Run (1999)</li>
        <li>Liverpool Sound Collage (2001)</li>
        <li>Driving Rain (2001)</li>
        <li>Chaos and Creation in the Backyard (2005)</li>
        <li>Memory Almost Full (2007)</li>
        <li>Kisses on the Bottom (2012)</li>
        <li>New (2013)</li>
        <li>Egypt Station (2018)</li>
        <li>McCartney III (2020)</li>
    </ul>
</body>
</html>